#app-wrapper {
    display: flex;
    overflow-y: scroll;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(var(--sidebar-bg) 0%, transparent);
    width: calc(100%);
    padding: 1rem;
    height: calc(var(--header-height) - 2rem);
    user-select: none;
    backdrop-filter: blur(10px);
    z-index: 100;
}

#sidebar {
    width: var(--sidebar-width);
    background: var(--sidebar-bg);
    height: calc(var(--max-height) - 2rem);
    position: fixed;
    top: calc(var(--header-height) - 1rem);
    left: 0;
    padding: 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    pre {
        font-weight: 400;
    }

    .event-items {
        display: flex;
        flex-direction: column;
        border-left: 1px solid transparent;
        gap: 0.5rem;

        details {
            border-color: var(--text-primary);
            display: flex;
            flex-direction: column;
            gap: 0;
            padding-block: 4px;

            &:open {
                padding-bottom: 0;
                background: rgba(128, 128, 128, 0.125);
                border-radius: 4px;
            }

            details {
                margin: 0px;
                padding: 0;
                border: none;
                border-color: var(--text-primary);
            }


            summary {
                list-style: none;
                padding: 4px;

                span {
                    user-select: none;
                    font-size: 14px;
                    cursor: pointer;
                }
            }

            div {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    li {
                        font-size: 14px;

                        span {
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &:last-child {
                            padding-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}

#main {
    padding: 0;
    width: calc(100%);
    margin-left: calc(var(--sidebar-width) + 2rem);
    margin-top: calc(var(--header-height));
    position: relative;
    background: var(--bg-primary);
    min-height: 200dvh !important;
    /* overflow-x: hidden; */
}

@media (max-width:40em) {
    .event-code {
        width: 100% !important;
        flex: unset !important;

        *,
        *::after,
        *::before {
            font-size: 13px !important;
        }
    }

    .event-section {
        max-width: calc(100% - 2rem) !important;
    }

}

.event-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: calc(100%);
    padding: 0rem 1rem;

    &:first-child {
        padding-top: 0rem !important;
    }

    &:last-child {
        padding-bottom: 0rem;
    }
}

.event-wrapper {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    border-radius: 18px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    .event-name {
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        font-family: FC;
        background: var(--bg-faded);
        padding: 0.5rem;
        display: inline !important;
        border-top-right-radius: 8px;
    }

    .event-example {
        margin: 0;
        padding: 1rem;
        padding-top: 0;
        gap: 1rem;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: stretch;
        background: var(--bg-faded);
        height: 100%;

        .event-code {
            flex: 2;
            place-self: start;
            display: flex;
            flex-direction: column;
            gap: 0.125rem;
            height: 100%;
            justify-content: start;
            align-items: start;
            overflow: scroll;
            border-radius: 4px;
            background: var(--bg-primary);
            padding: 0.75rem;
            white-space: 'pre'

        }

        .event-demo {
            flex: 1;
            place-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            /* max-width: 400px; */
            background: rgba(128, 128, 128, 0.12);
            padding: 1rem;
            border-radius: 4px;
            overflow: scroll;

            * {
                color: var(--text-primary) !important;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 4px;
        background: light-dark(lightblue, gray);
    }
}

:root {
    color-scheme: light dark;
}

#touchcancel-demo {
    touch-action: none;
}