.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    color: #ff7b72
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: #d2a8ff
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: #79c0ff
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: #a5d6ff
}

.hljs-built_in,
.hljs-symbol {
    color: #ffa657
}

.hljs-code,
.hljs-comment,
.hljs-formula {
    color: #8b949e
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #7ee787
}

.hljs-subst {
    color: #c9d1d9
}

.hljs-section {
    color: #1f6feb;
    font-weight: 700
}

.hljs-bullet {
    color: #f2cc60
}

.hljs-emphasis {
    color: #c9d1d9;
    font-style: italic
}

.hljs-strong {
    color: #c9d1d9;
    font-weight: 700
}

.hljs-addition {
    color: #aff5b4;
    background-color: #033a16
}

.hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c
}

pre code.hljs {
    padding: 1em;
    display: block;
    overflow-x: auto
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #d1d9e1;
    background: #474949
}

.hljs-comment,
.hljs-quote {
    color: #969896;
    font-style: italic
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-type,
.hljs-addition {
    color: #c9c
}

.hljs-number,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #f99157
}

.hljs-string,
.hljs-doctag,
.hljs-regexp {
    color: #8abeb7
}

.hljs-title,
.hljs-name,
.hljs-section,
.hljs-built_in {
    color: #b5bd68
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #fc6
}

.hljs-section,
.hljs-name,
.hljs-strong {
    font-weight: 700
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-link {
    color: #f99157
}

.hljs-deletion {
    color: #dc322f
}

.hljs-formula {
    background: #eee8d5
}

.hljs-attr,
.hljs-attribute {
    color: #81a2be
}

.hljs-emphasis {
    font-style: italic
}

#app-wrapper {
    display: flex;
    overflow-y: scroll
}

#header {
    background: linear-gradient(var(--sidebar-bg)0%, transparent);
    width: 100%;
    height: calc(var(--header-height) - 2rem);
    -webkit-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 100;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0
}

#sidebar {
    width: var(--sidebar-width);
    background: var(--sidebar-bg);
    height: calc(var(--max-height) - 2rem);
    top: calc(var(--header-height) - 1rem);
    flex-direction: column;
    padding: 1rem;
    display: flex;
    position: fixed;
    left: 0;
    overflow: scroll
}

#sidebar pre {
    font-weight: 400
}

#sidebar .event-items {
    border-left: 1px solid #0000;
    flex-direction: column;
    gap: .5rem;
    display: flex
}

#sidebar .event-items details {
    border-color: var(--text-primary);
    flex-direction: column;
    gap: 0;
    padding-block: 4px;
    display: flex
}

#sidebar .event-items details:open {
    background: #80808020;
    border-radius: 4px;
    padding-bottom: 0
}

#sidebar .event-items details details {
    border: none;
    border-color: var(--text-primary);
    margin: 0;
    padding: 0
}

#sidebar .event-items details summary {
    padding: 4px;
    list-style: none
}

#sidebar .event-items details summary span {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 14px
}

#sidebar .event-items details div ul {
    flex-direction: column;
    gap: 4px;
    list-style: none;
    display: flex
}

#sidebar .event-items details div ul li {
    font-size: 14px
}

#sidebar .event-items details div ul li span {
    cursor: pointer
}

#sidebar .event-items details div ul li span:hover {
    text-decoration: underline
}

#sidebar .event-items details div ul li:last-child {
    padding-bottom: 8px
}

#main {
    width: 100%;
    margin-left: calc(var(--sidebar-width) + 2rem);
    margin-top: calc(var(--header-height));
    background: var(--bg-primary);
    padding: 0;
    position: relative;
    min-height: 200dvh !important
}

@media (max-width:40em) {
    .event-code {
        flex: unset !important;
        width: 100% !important
    }

    .event-code *,
    .event-code :after,
    .event-code :before {
        font-size: 13px !important
    }

    .event-section {
        max-width: calc(100% - 2rem) !important
    }
}

.event-section {
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    padding: 0 1rem;
    display: flex
}

.event-section:first-child {
    padding-top: 0 !important
}

.event-section:last-child {
    padding-bottom: 0
}

.event-wrapper {
    border-radius: 0 0 18px 18px;
    flex-direction: column;
    gap: 0;
    margin-top: 4px;
    display: flex;
    position: relative
}

.event-wrapper .event-name {
    background: var(--bg-faded);
    border-top-right-radius: 8px;
    flex-wrap: wrap;
    padding: .5rem;
    font-family: FC;
    font-size: 14px;
    display: flex;
    display: inline !important
}

.event-wrapper .event-example {
    background: var(--bg-faded);
    border-radius: 4px;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
    height: 100%;
    margin: 0;
    padding: 0 1rem 1rem;
    display: flex
}

.event-wrapper .event-example .event-code {
    background: var(--bg-primary);
    height: 100%;
    white-space: "pre";
    border-radius: 4px;
    flex-direction: column;
    flex: 2;
    justify-content: start;
    place-self: start;
    align-items: start;
    gap: .125rem;
    padding: .75rem;
    display: flex;
    overflow: scroll
}

.event-wrapper .event-example .event-demo {
    background: #8080801f;
    border-radius: 4px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    place-self: stretch stretch;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    display: flex;
    overflow: scroll
}

.event-wrapper .event-example .event-demo * {
    color: var(--text-primary) !important
}

.event-wrapper:before {
    content: "";
    background: var(--lightningcss-light, #add8e6)var(--lightningcss-dark, gray);
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

:root {
    --lightningcss-light: initial;
    --lightningcss-dark: ;
    color-scheme: light dark
}

@media (prefers-color-scheme:dark) {
    :root {
        --lightningcss-light: ;
        --lightningcss-dark: initial
    }
}

#touchcancel-demo {
    touch-action: none
}

@font-face {
    font-family: FC;
    src: url(./FC-B8UAmyNo.ttf)
}

@font-face {
    font-family: GSC;
    src: url(./GSC-a41q3NA0.ttf)
}

*,
:after,
:before {
    margin: 0;
    padding: 0
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-primary: #121212;
        --bg-faded: #80808020;
        --text-primary: #fff;
        --sidebar-bg: #181818
    }
}

@media (prefers-color-scheme:light) {
    :root {
        --bg-primary: #fff;
        --bg-faded: #f2f2f2;
        --text-primary: #080808;
        --sidebar-bg: #f2f2f2
    }
}

:root {
    background: var(--bg-primary);
    color: var(--text-primary);
    --header-height: 52px;
    --sidebar-width: 250px;
    --max-height: calc(100dvh - 2rem);
    --max-width: calc(100dvw - 2rem - 220px)
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    font-family: FC;
    display: flex
}

#root {
    width: 100dvw;
    max-height: calc(100dvh - var(--header-height))
}

button {
    -webkit-user-select: none;
    user-select: none
}

button:active {
    scale: .95 !important
}

button:hover {
    scale: 1.125
}

.hljs-dark code,
.hljs-light code {
    all: unset
}

@media (prefers-color-scheme:dark) {
    pre.hljs-dark {
        color: #73b9ff;
        background: #0d1117
    }
}

@media (prefers-color-scheme:light) {
    pre.hljs-light {
        color: #24292e;
        background: #64b2ff
    }
}